header{
    background-color: crimson;
    border-radius: 15px;
    text-align: center;
    height: 150px;}
    #td1{
        
    }
header img{
    height: 150px;
    }

#para1{
    background-color: cadetblue;
    border-radius: 10px;
    width: 90%;
    margin: auto;
}

h1{
    text-align: center;
    color: blue;
}
